@charset "UTF-8";
.head_image{
    margin : 0 auto;
    width: 900px;
    height : 100px;
    margin-bottom: 3px;
}
.modal_dlg_bg{
    position: absolute;
    display : none;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #aaaaaa;
}
.modal_dlg_form{
    position : absolute;
    top : 300px;
    left : 800px;
    width: 400px;
    height : 300px;
    background-color: burlywood;
    text-align: center;
}
.modal_logout_dlg_bg{
    position: absolute;
    display : none;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #aaaaaa;	
}
.modal_logout_dlg_form{
    position : absolute;
    top : 300px;
    left : 800px;
    width: 400px;
    height : 200px;
    background-color: burlywood;
    text-align: center;	
}
.flex_menu_container{
    margin : 0 auto;
    width: 900px;
    display: flex;
    height : 30px;
    margin-bottom: 3px;
}
.flex_menu_container div{
    line-height: 30px;
    text-align: center;
    margin: 3px;
}
.hamburger{
    display: none;
}
.menu1{
    flex : 0 1 100px;
}
.menu2{
    flex : 0 1 100px;
}
.menu3{
    flex : 0 1 100px;
}
.menu4{
    flex :0 1 100px;
}
.menu5{
    flex : 0 1 100px;
}
.menu6{
    flex : 1 1 150px;    
}